html{
    font-family: Roboto, sans-serif;

}
.header li{
    display: inline;
   float: right;
   padding: 10px;
   color: white;
}
footer{
    background-color: #1F2937;
    color: white;
    padding-bottom: 13px;
    padding-top: 13px;
    text-align:center; 
    margin: auto;
}
.header, .About_Us{
    background-color: #1F2937;
    color: white;
}
.About_Us p, .About_Us h1{
    display: grid;
    grid-row: auto;
    

}